.header {
  background-color: #222;
  color: white;
  padding: 10px;
}

.show {
  margin-bottom: 20px;
}

.show h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.show p {
  font-size: 14px;
  margin-bottom: 5px;
}

.button {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
